html,
body,
#root {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

#root {
  --base-color: #121212;
  --lvl-1-color: #1e1e1e;
  --lvl-2-color: #2a2a2a;
  --text-primary: #ebebeb;
  --text-secondary: #b3b3b3;
  --box-shadow: 0px 3px 7px 0px rgb(0, 0, 0);
  --box-shadow-expanded: 0px 5px 10px 0px rgb(0, 0, 0);
  --color-accent: rgb(36, 180, 63);
  --color-accent-muted: rgba(36, 180, 63, 0.7);
  background-color: var(--base-color);
}

.game-image {
  /* box-sizing: border-box; */
  /* margin: 2rem; */
  padding: 0;
  background-color: var(--base-color);
  min-width: 100vw;
}

.cursor-follower {
  margin: 0;
  padding: 0;
  position: absolute;
  transform: translateX(-100%) translateY(-50%);
  /* border: solid black 1px; */
  min-height: 125px;
  min-width: 125px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--base-color);
}

.selection-menu {
  transform: translateY(calc(50px + 50%));
  margin: 0;
  padding: 0;
  position: absolute;
  display: flex;
  align-items: center;
}

.selection-menu > * {
  color: white;
  background-color: var(--base-color);
  font-size: 1.25rem;
}

.selection-menu > select {
  box-sizing: border-box;
  padding: 0.5rem;
  border: none;
  outline: none;
}

.submit-button {
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.result-icon {
  position: absolute;
  transform: translateX(-50%) translateY(calc(5px + 50%));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.level-select {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.level-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  font-size: 2rem;
  color: white;
}

.level-button {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: solid grey 4px;
  border-radius: 2rem;
  background-color: var(--base-color);
}

.level-button:hover {
  background-color: rgb(78, 78, 78);
}

.level-button-img {
  height: 500px;
  object-fit: cover;
}

.level-name {
  margin: 0;
  padding: 0;
  font-size: 48px;
  color: white;
}

.level-info {
  color: white;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  margin: 16px;
  padding: 16px;
  background-color: var(--lvl-1-color);
  border: solid rgb(79, 79, 79) 2px;
  border-radius: 16px;
  margin-top: 5.5rem;
}

.target-container {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.target-card {
  width: 100px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.target-name {
  text-align: center;
}

.target-image {
  height: 100px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid white 2px;
}

.leaderboard-dialog {
  color: var(--text-primary);
  background-color: var(--lvl-1-color);
  border: solid rgb(79, 79, 79) 2px;
  border-radius: 16px;
}
